<div class="jumbotron">
  <div class="container">
    <h2>The Greatest Artists of All Time</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @artists.each do |artist| %>
    <div class="col-md-4">
      <h4><%= link_to artist.name, artist_path(artist) %></h4>
    </div>
    <%end%>
  </div>
</div>
