// application.scss

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
  background-color: #9299E4;
}

.navbar {
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

.artist-img {
  height: 200px;
  width: 280px;
}

.artist-img-show {
  margin-right: 100px;
  height: 250px;
  width: auto;
  max-width: 350px;
}

.col-md-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}
